@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #131316;
    color: #fff;
    padding: 0;
    margin: 0;    
}

h1 {
    padding-left: 2%;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0px 2% 0px 2%
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}